# Build results
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo

# VS Code
.vscode/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper

# Migrations (опционально — можешь оставить, если хочешь хранить миграции)
# Migrations/

# Appsettings (если есть секреты)
# appsettings.Development.json